@media (min-width: 32.5em){
    img {
        float: right;
    }
	html{
		background-color: rgb(173,216,230);
	}
	body{
		font-size: 20px;
		color: #054A29;
	}
	h1{
		color: #2E2D4D;
		font-size: 1.7em;

	}
	header img{
    width: 175px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
	li::marker{
		color: #FED18C;
		font-size: 1.25em;
	}
}