body {
    color: #264653;
}
#content {
    max-width: 960px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 1.5em;
}
.visual-hierarchy {
    grid-column: 1 / 2;
    box-shadow: 1px 0 0 2px #BEBEBE;
}
.fitts-law {
    grid-column: 2 / 3;
    box-shadow: 1px 0 0 2px #BEBEBE;
}
.rule-of-thirds {
    grid-column: 3 / 4;
    box-shadow: 1px 0 0 2px #BEBEBE;
}
header {
    background-color: #E9C46A;
    background-image: linear-gradient(to bottom right, #F5D300, #FE53BB, #09FBD3, #08F7FE);
    text-align: center;
    padding: 10px;
    border-radius: 15px 15px 0 0;
}
h1 {
    font-family: 'Satisfy', cursive;
}
h2, p {
    font-family: 'Lato', sans-serif;
}
main p {
    padding: 1em;
}
footer {
    background-color: #E9C46A;
    background-image: linear-gradient(to bottom right, #FE53BB, #09FBD3, #7fff00);
    border-radius: 0 0 15px 15px;
    text-align: center;
    padding: .5em;
}
.update-text {
    color: #2A9D8F;
    font-weight: bold;
}
.principles {
    background-color: #09FBD3;
    text-align: center;
    padding: 2px;
    font-family: 'Luxurious Roman', cursive;
}
.principles + p {
    font-weight: bold;
}
header a:link {
    text-decoration: None;
    color: #264653;
}
header a:hover {
    color: gray;
}
@media screen and (min-width: 401px) and (max-width: 720px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .visual-hierarchy {
        grid-column: 1 / 2;
    }
    .fitts-law {
        grid-column: 2 / 3;
    }
    .rule-of-thirds {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 400px) {
    main {
        grid-template-columns: 1fr;
    }
    .visual-hierarchy {
        grid-column: 1 / 2;
    }
    .fitts-law {
        grid-column: 1 / 2;
    }
    .rule-of-thirds {
        grid-column: 1 / 2;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

