/* Color Scheme
https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff   
*/

.content {
    margin: 0 auto;
    background-color: #1f7a8c;
    border-color: #1f7a8c;
    padding: 10px;
    box-shadow: 4px 4px 4px #bfdbf7;
    border-style: outset;
    border: 3px ridge #bfdbf7;
    border-radius: 12px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: span 3;
    grid-gap: 20px;
}

header {
    background-color: #022b3a;
    border-radius: 12px;
}

h1,
h2 {
    color: white;
    text-align: center;
    font-family: Montserrat;
    padding: 10px 0;
    margin: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

p, h3 {
    color: #bfdbf7;
    font-family: "roboto condensed";
    font-weight: bold;
    font-size: x-large;
}

a {
    color: #bfdbf7;
    font-family: "roboto condensed";
    font-weight: bolder;
    font-size: x-large;
}

section {
    background-color: #022b3a;
}

.website1,
.website2,
.website3 {
    padding: 10px;
    box-shadow: 4px 4px 4px #0C4767;
    border-style: inset;
    border: 3px ridge #bfdbf7;
    border-radius: 12px;
	background-color: #566E3D;
}
img{
	width: 250px;
	height: auto;
}
.back-button {
 position: relative;
 display: inline-block;
 margin: 15px;
 padding: 15px 30px;
 text-align: center;
 font-size: 18px;
 letter-spacing: 1px;
 text-decoration: none;
 color: #B4ADEA;
 background: transparent;
 cursor: pointer;
 transition: ease-out 0.5s;
 border-radius: 30px;
 border: 2px solid #725AC1;
 border-radius: 10px;
 box-shadow: inset 0 0 0 0 #725AC1;
}

.back-button:hover {
 color: white;
 box-shadow: inset 0 -100px 0 0 #725AC1;
}

.back-button:active {
 transform: scale(0.9);
}

footer {
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    padding: 2px;
    line-height: 1.8em;
    font-family: Montserrat;
}
