@media only screen 
  and (min-device-width: 7.5rem) 
  and (max-device-width: 30rem)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    
    p{
        margin-bottom: 8%;
    }
    
    #check:checked ~ ul{
        left:0;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        height: calc(100vh - 80px);
    }
    .event{
        grid-area: 2 / 1 / 3 / 2; 
        background-color: rgb(177, 170, 170);
    }
    .weather{
        grid-area: 3 / 1 / 4 / 2;
        background-color: rgb(177, 170, 170);
        padding-bottom: 5rem;
    }
    .weather p {
        margin: .5rem;
    }
    .join{
        grid-area: 5 / 1 / 7 / 2;
        background-color: rgb(177, 170, 170);
        display: none;
    }
    .hero{
        grid-area: 1 / 1 / 2 / 2;
       /* background-image: url("../images/Optimized-Optimized-Tirol-small.jpg");
        background-size: 100% auto;*/
    }
    .news{
        grid-area: 4 / 1 / 5 / 2;
        background-color: rgb(177, 170, 170);
    }
    .spot1{
        grid-area: 5 / 1 / 6 / 2;
        background-color: rgb(177, 170, 170);
        
    }
    .spot1 p{
        margin-bottom: 9%;
    }
    .spot2{
        grid-area: 6 / 1 / 7 / 2;
        background-color: rgb(177, 170, 170);
        padding-bottom: 9rem;
    }
    .spot2 p{
        margin: 1rem;
    }

    .spot3{
        grid-area: 5 / 4 / 7 / 5;
        background-color: rgb(177, 170, 170);
        display: none;
    }
    img{
        width: 100%;
    }
    footer {
        padding-bottom: 8rem;
        font-size: small;
    }
    .footer-content{
        margin-bottom: 1rem;
     
    }
    
    /*Discover page - beginning*/
    .wrapper-disc article p{
        text-align: center;
    }
    .wrapper-disc picture{
        margin-right: auto;
    }
    .wrapper-disc{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 125rem;

    }
    .first{
        width: 300px;
        height: auto;
        
        grid-area: 1 / 1 / 2 / 2;
        
    }
    .first-p{
        grid-area: 2 / 1 / 3 / 2;
     }
    .second{
        width: 300px;
        height: auto;
        grid-area: 3 / 1 / 4 / 2;
    }
    .second-p{
        grid-area: 4 / 1 / 5 / 2;
        
    }
    .third{
        width: 300px;
        height: auto;
        grid-area: 5 / 1 / 6 / 2;
    }
    .third-p{
        grid-area: 6 / 1 / 7 / 2;
    }
    .fourth{
        width: 300px;
        height: auto;
        grid-area: 7 / 1 / 8 / 2;
    }
    .fourth-p{
        grid-area: 8 / 1 / 9 / 2;
    }
    .fifth{
        width: 300px;
        height: auto;
        
        grid-area: 9 / 1 / 10 / 2;
    }
    .fifth-p{
        grid-area: 10 / 1 / 11 / 2;
        padding-bottom: 90px;
    }
    
    .icons i {
        display: inline-block;
        width: 15px;
        height: auto;
        margin-left: 150px;
        z-index: 1;

    }
    /*Discover page - ending*/
    /*Join page - beginning*/
    .main-join {
        display: flex;
        flex-direction: column;
        height:101.5rem;
        margin-bottom: 6.5rem
    }
    /*Join page - ending*/
    /*Directory page - beginning*/
    .grid-cards{
        display: grid;
        grid-template-columns: 1fr;
     }
  /*Directory page - ending*/
  /*Contact page - beginning*/
  
  .main-contact {
      display: flex;
      flex-direction: column;
      height: 46rem;
  }
/*Contact Page - ending*/
}

