@media screen and (min-width: 37.5em) {
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        height: calc(100vh - 80px);
    }
    .event{
        grid-area: 1 / 1 / 3 / 2; 
        background-color: rgb(177, 170, 170);
    }
    .weather{
        grid-area: 3 / 1 / 5 / 2;
        background-color: rgb(177, 170, 170);
    }
    .join{
        grid-area: 5 / 1 / 7 / 2;
        background-color: rgb(177, 170, 170);
    }
    .hero{
        grid-area: 1 / 2 / 5 / 4;
        background-color: rgb(177, 170, 170);
    }
    .news{
        grid-area: 5 / 2 / 7 / 4;
        background-color: rgb(177, 170, 170);
    }
    .spot1{
        grid-area: 1 / 4 / 3 / 5;
        background-color: rgb(177, 170, 170);
    }
    .spot2{
        grid-area: 3 / 4 / 5 / 5;
        background-color: rgb(177, 170, 170);
    }
    .spot3{
        grid-area: 5 / 4 / 7 / 5;
        background-color: rgb(177, 170, 170);
    }
    
    
    
}