@media screen and (max-width: 820px) {
    main{
        display: grid; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2px;
        height: calc(100vh - 80px);
        
     }
       
     .hero {
     
        background-color: rgb(177, 170, 170);
        grid-row-start: 1;
        grid-column-start: 1;
     
        grid-row-end: 2;
        grid-column-end: 5;
        
     }
     .news {
     
        background-color: rgb(177, 170, 170);
        grid-row-start: 2;
        grid-column-start: 1;
     
        grid-row-end: 3;
        grid-column-end: 5;
        
     }
     .spot1 {
     
        background-color: rgb(177, 170, 170);
        grid-row-start: 3;
        grid-column-start: 1;
     
        grid-row-end: 4;
        grid-column-end: 3;
        
     }
     .spot2 {
     
        background-color: rgb(177, 170, 170);
        grid-row-start: 3;
        grid-column-start: 3;
     
        grid-row-end: 4;
        grid-column-end: 5;
    }
    .spot3{
        display: none;
    }
     
     .join {
     
        background-color: rgb(177, 170, 170);
        grid-row-start: 4;
        grid-column-start: 1;
     
        grid-row-end: 5;
        grid-column-end: 5;
        
     }
     .event {
     
        background-color: rgb(177, 170, 170);
        grid-row-start: 5;
        grid-column-start: 1;
     
        grid-row-end: 6;
        grid-column-end: 4;
        
     }
     .weather {
     
        background-color: rgb(177, 170, 170);
        grid-row-start: 5;
        grid-column-start: 4;
     
        grid-row-end: 6;
        grid-column-end: 5;
        
     }
    footer{
       margin-top: 30%;
    }
    
    
}