@media only screen and (min-width: 37.5em){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 2px;
        height: 100vh;
    }
    .event{
        grid-area: 1 / 1 / 3 / 2;
        background:rgb(158, 156, 156)
    }
    .weather{
        grid-area: 3 / 1 / 5 / 2;
        background:rgb(158, 156, 156)
    }
    .join{
        grid-area: 5 / 1 / 7 / 2;
        background:rgb(158, 156, 156)
    }
    .hero{
        grid-area: 1 / 2 / 5 / 4;
        background:rgb(158, 156, 156)
    }
    .news{
        grid-area: 5 / 2 / 7 / 4;
        background:rgb(158, 156, 156)
    }
    .spot1{
        grid-area: 1 / 4 / 3 / 5; 
        background:rgb(158, 156, 156)
    }
    .spot2{
        grid-area: 3 / 4 / 5 / 5;
        background:rgb(158, 156, 156)
    }
    .spot3{
        grid-area: 5 / 4 / 7 / 5;
        background:rgb(158, 156, 156)
    }
}