
@media only screen and (min-width: 63.75rem) {

    nav button {
        display: none;
    }
    nav ul#Nav {
        display: flex;
    }
    nav ul li{
        text-align: center;
        flex: 1 0 auto;
    }
    nav ul li a:hover {
        padding: 1rem 2.5rem;
    }
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
/*-----------------------------------------------Body----------------------------------------------------------------*/
}
body{
    background-color: #F2F3AE;
    font-family: 'Zen Antique', serif;
    font-weight: bold;
    color: #020122;
    
}
/*-----------------------------------------------Banner----------------------------------------------------------------*/
#banner {
    display: none;
    background-color: red;
    color: #000;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 20px;
}
/*-----------------------------------------------Nav------------------------------------------------------------------*/



nav {
    background-color: #FC9E4F;
    text-align: center;
    padding: 0.5rem;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
}
nav button {
    margin: 0 auto;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}
#menu-btn {
    font-size: 1.25rem;
    align-items: center;
    padding-right: 0.625rem;
}
nav ul {
    list-style-type: none;
    
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.8rem 2.5rem;
    margin: 0.625rem;
    
}
nav ul li a:hover {
    background-color:#000090;
    color: #FC9E4F;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}


/*-----------------------------------------------Logo-----------------------------------------------------------------*/
#logo{

    padding: 10px;
    font-size: 30px;
    font-family: 'Luxurious Roman', cursive;
    
}
#logo img{
    display: flex;
    justify-content: center;
    width: 9.5rem;
    
}
.loguinho{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
/*-----------------------------------------------Hamburguer Menu-----------------------------------------------------------------*/
.enlace{
    position: absolute;
    padding: 20px 50px;
    margin-top: 5px;
    width: 1px;
    height: 1px;
}


.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*-------------------------------------------------Icons----------------------------------------------------------------*/
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}
.icons i {
    display: inline-flex;
}
/*--------------------------------------------------Main Content----------------------------------------------------------------*/
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    
    height: calc(100vh - 80px);
}
.event{
    grid-area: 1 / 1 / 3 / 2; 
    background-color: #ccc;
    padding: 5px;

}
.event p{
    text-align: center;
    margin-top: 10%;
}
.weather{
    grid-area: 3 / 1 / 5 / 2;
    background-color: rgb(172, 202, 138);

}
.weather p{
    display: flex;
    justify-content: center;
    color:rgb(46, 27, 27);
    margin-bottom: -2rem;
}

#weathericon {
    width:8rem;
}

.join{
    grid-area: 5 / 1 / 7 / 2;
    background-color: #ccc;
    padding: 5px;
}
.join p{
    text-align: center;
    margin-top: 10%;
}
    

.hero{
    grid-area: 1 / 2 / 5 / 4;

}
.hero img{
    height: 100%;
}

.news{
    grid-area: 5 / 2 / 7 / 4;
    background-color: #ccc;
}

p{
    text-align: center;
}
.spot1{
    grid-area: 1 / 4 / 3 / 5;
    background-color: #ccc;
}
.spot1 p{
    text-align: center;
    margin-top: 10%;
    padding: 5px;
}
.spot2{
    grid-area: 3 / 4 / 5 / 5;
    background-color: #ccc;
    padding: 5px;
}


.spot3{
    grid-area: 5 / 4 / 7 / 5;
    background-color: #ccc;
    padding: 5px;
}
.spot3 p{
    text-align: center;
    margin-top: 10%;
}
h1{
    font-size: 25px;
    text-align: center;
}
h2{
    text-align:  center;
}
img{
    width: 100%;
    height: auto;
}
#now {
    text-align: center;
    padding: 0.5rem;
    font-size: large;
}
/*--------------------------------------------------Footer-----------------------------------------------------------*/
footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #111;
    height: fit-content;
    width: 100vw;
    color: rgb(41, 38, 38);
    position: relative;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/*Discover Page - Beginning*/
.demographic{
    font-size: 1rem;
}
.wrapper-disc p{
    text-align: center;
    font-size: larger;
    
}
.wrapper-disc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:75rem;
    
}
.wrapper-disc-head {
    height: 100px;
}
.wrapper-disc-head h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
main.wrapper-disc {
    text-align: center;
}
main.wrapper-disc article p{
    text-align: left;
}
.wrapper-disc h2 {
    padding-bottom: 1rem;
}

.wrapper-disc article {
    margin: 25px;
}
.wrapper-disc article h2 a {
    text-decoration: none;
    color: #14213D;
}

main.wrapper-disc picture{
    box-shadow: 5px 4px 10px rgb(119, 113, 113);
    margin: 0 auto;
}
.wrapper-disc picture img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first{
    width: 300px;
    height: auto;
    grid-area: 1 / 1 / 2 / 2;
    
}
.first-p{
    grid-area: 1 / 2 / 2 / 3;
}
.second{
    width: 300px;
    height: auto;
    grid-area: 2 / 2 / 3 / 3;
}
.second-p{
    grid-area: 2 / 1 / 3 / 2;
}
.third{
    width: 300px;
    height: auto;
    grid-area: 3 / 1 / 4 / 2;
}
.third-p{
    grid-area: 3 / 2 / 4 / 3;
}
.fourth{
    width: 300px;
    height: auto;
    grid-area: 4 / 2 / 5 / 3;
}
.fourth-p{
    grid-area: 4 / 1 / 5 / 2;
  
}
.fifth{
    width: 300px;
    height: auto;
    padding: 20px;
    grid-area: 5 / 1 / 6 / 2;
}
.fifth-p{
    grid-area: 5 / 2 / 6 / 3;
}
.foot{
    position: fixed;
    height: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    grid-area: 6 / 1 / 7 / 6;
    padding: 20px;
}
.daysOfVisit{
    margin: 1rem;

}
/*Discover Page - Ending*/
/*Join Page - Beginning*/
fieldset{
    border: 1px solid #000;
    border-radius: 20px;
}
.main-join{
    font-size: 24px;

    width: 350px;
    height: 1200px;
    /* Setup */
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}
.submit-Btn{
    margin-top: 4%;
    padding: 5px;
    border-radius: 8px;
    margin-left: 15rem;
    margin-bottom: -1.5rem;
    cursor: pointer;
}
.cost{
    background-color: #a1a1be;
}
.join-title{
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.description{
   
    font-size: 15px;
    text-align: justify;
}
legend{
    text-align: center;
}
/*Join Page - Ending*/
/*Thank you page - beginning*/
.body-ty{
    background-image: url("../images/background-ty.jpg");
}
.text-center{
    max-width: 35rem;
    margin: 0 auto;
    margin-top: 15%;
    font-size: 25px;
}
/*Thank you page - ending*/
footer{
    text-align: center;
    border: 1px solid #ccc;
    background-color: #EDD382;
    padding: 1.5rem;
    font-family:'Dongle', sans-serif;
    width: 100%;
}
/*contact page - beginning*/
.container-contact{
    width: 50rem;
    height: auto;
    margin-left: 17rem;
}
/*contact page - ending*/
/*directory page - beginning*/
/*I WILL WORK ON USING LESS CSS AS WELL AS LESS @MEDIA*/
/*------Directory Page-------*/
.main-dir{
    display: flex;
    height: fit-content;
    margin: 4rem;
}
.buttons-dir {
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-size: larger;
}

#sList, #sGrid {
    cursor: pointer;
    margin: 2rem ;
}
.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 5rem;
    
}

.item-grid {
    margin: 0 auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 20px;
}
.list-cards {
    display: flex;
    flex-direction: column;
    border:1px solid #000; 
    margin: 0 auto;

}
.list-cards .item-list img {
    display: none;
}
.item-list {
    display:  flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    border:1px solid #000; 

}
.item-list p {
    margin: 2rem;

}
/*directory page - ending*/
