/*+++++++++++++++++++++++++++++++++++++++++++IMPORTS++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather:wght@300&family=Rubik:wght@500&display=swap');
/*=========================================Nav Bar========================================================*/
.sidenav {
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  .openButton {
    position:absolute;
    right: 0;
    background-color: rgb(177, 155, 83);
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    cursor: pointer;
  }
  
  .main-body {
    background-image: url(../img/Optimized-main.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .header-h1 {
    font-size: 50px;
    color: rgb(71, 24, 24);
    text-align: center;
    padding-top: 20px;
  }
  
  /*==============================================Footer================================================*/
  .footer-main {
      display: flex;
      flex-wrap: wrap;
      height:fit-content;
      bottom: 0;
      background-color: rgb(99, 87, 73);
      padding: 7rem;
  }
  
  .menu-icon {
      margin-left: 2rem;
      cursor: pointer;
  }
  ::placeholder{
    color: rgb(177, 155, 83);
    font-size: larger;
  }
  /*----------------------------------------------------Footer Form-----------------------------------------*/
  form{
    width:220px;
    margin:0 auto;
  }
  
  .field{
    
    width:18rem;
    padding:.5px;
    border:none;
    outline:none;
    background:none;
    color:rgb(228, 219, 167);
    font-style:italic;
    border-bottom:2px solid rgb(231, 201, 137);

  }
  
  #message{
    resize:none;
    height:100px;
    overflow-y:hidden;
  }
  
  #submit{

    width:100px;
    border:none;
    background-color:rgb(255, 144, 116);
    color:white;
    font-size:17px;
    cursor:pointer;
    border-radius: 1rem;
    font-size: larger;

  }
  /*===================================PLAN DOCUMENT==================================================*/
  /*----------------------------------PLAN BODY------------------------------------------------------*/
  .plan-body{
    background-color: #abac9e;
    margin: 2rem;
    
  }
  /*---------------------------------------COLORS-----------------------------------------------------*/
  /*Nav menu*/
  .colors li:nth-child(1){
    background-color: #3A3845;
    color: #fff;
  }
  /*Footer*/
  .colors li:nth-child(2){
    background-color: #826F66;
    color: #fff;
  }
  /*Body*/
  .colors li:nth-child(3){
    background-color: #F7CCAC;
    color: rgb(39, 34, 34);
  }
  /*Copyright*/
  .colors li:nth-child(4){
    background-color: #C69B7B;
    color: rgb(39, 34, 34);
  }
  /*------------------------------------TYPOGRAPHY----------------------------------------------------*/
  .typography li:nth-child(1){
    font-family: 'Merriweather', serif;
  }
  .typography li:nth-child(1)::before{
    content: "BODY: ";
    font-weight: 200;
    color:rgb(38, 60, 94);
  }
  .typography li:nth-child(2){
    font-family: 'Rubik', sans-serif;
  }
  .typography li:nth-child(2)::before{
    content: "NAV: ";
    font-weight: 200;
    color:rgb(38, 60, 94);
  }
  .typography li:nth-child(3){
    font-family: 'Josefin Sans', sans-serif;
  }
  .typography li:nth-child(3)::before{
    content: "FOOTER: ";
    font-weight: 200;
    color:rgb(38, 60, 94);
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }