/*+++++++++++++++++++++++++++++++++++++++++++IMPORTS++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather:wght@300&family=Rubik:wght@500&display=swap');
/*=========================================Nav Bar========================================================*/

.sidenav {
    height: 100%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    
  }
  .openButton {
    position:fixed;
    right: 0;
    background-color: rgb(177, 155, 83);
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    cursor: pointer;
    
  }
  .btn-book {
    display: flex;
    background-color: rgb(177, 155, 83);
    border-radius: .5rem 0 0 .5rem;
    padding: 1rem;
    cursor: pointer;
    margin: 0 auto;
  }
/*==============================================CONTENT====================================================*/
  .main-body {
    background-image: url(../img/Optimized-main.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  button {
    cursor: pointer;
  }
  h1,h2,h3 {
    text-align: center;
  }
  .header-h1 {
    font-size: 50px;
    color: rgb(71, 24, 24);
    text-align: center;
    padding-top: 20px;
  }
  /*-----------------------------------------Weather----------------------------------------------------*/
     .flex {
      display: flex;
      flex-wrap: wrap;
      margin: 25px auto;
      max-width: 700px;
      border-right: 1px solid #333;
    }

    .forecastdays {
      flex: 1 1 auto;
      border-bottom: 1px solid #333;
      border-left: 1px solid #333;
      text-align: center;
      background-color: rgb(118, 165, 165);
}
  
  
  /*------------------------------------------Temples---------------------------------------------------*/
  #temples {
    display: grid;
    font-weight: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin:1rem;
    gap: 2rem;
  }     
 
  .temple-image {
      max-width: 25rem;
      box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.25);
  }
  #temples article {
  box-shadow: 0px -3px 13px 0px rgba(0,0,0,0.75);
  padding: .3rem;
  text-align: center;
  background-color: #FBD786;

  }

  /*==============================================Footer================================================*/
  .footer-main {
     display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-height:fit-content;
      background-color: rgb(99, 87, 73);
      padding: 2rem;
  }
  
  .menu-icon {
      margin-left: 2rem;
      cursor: pointer;
  }
  ::placeholder{
    color: rgb(177, 155, 83);
    font-size: larger;
  }
  .footer-left {
    font-size: x-large;
    color: rgb(212, 169, 27); 
  }

  /*----------------------------------------------------Google Maps-----------------------------------------*/
  .google-maps {
    
    margin: 0 auto;
  }
  /*----------------------------------------------------Footer Form-----------------------------------------*/
  .form-footer{
    max-width:18rem;
    margin: .4rem;
    
  }
  
  .field{
    padding:0.031rem;
    border:none;
    outline:none;
    background:none;
    color:rgb(228, 219, 167);
    font-style:italic;
    border-bottom:2px solid rgb(231, 201, 137);

  }
  
  #message{
    height:6.25rem;
  }
  
  #submit{

    width:6.25rem;
    border:none;
    background-color:rgb(255, 144, 116);
    color:white;
    font-size:17px;
    cursor:pointer;
    border-radius: 1rem;
    font-size: larger;

  }
/*======================================TEMPLE PAGE==============================================*/
.temple-main {
    background-color: #D5EDBA;
    padding: 2rem;
}

#temple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  
  
}
#temple article {
  
  border: 1px solid #333;
  padding: .5rem;
  text-align: center;
  box-shadow: .5rem .3rem .5rem .5rem rgba(0,0,0,0.25);
  border-radius: .9rem;
  font-size: larger;
}

#temple article img{
  border-radius: .9rem;
}

/*====================================RESERVATION PAGE===========================================*/
 .main-contact {
        display: flex;
        height:  fit-content;
        font-size: x-large;
        background-color: #FBD786;
    }

 .formcontainer {

        padding: 2em;
        max-width: 50rem;
        margin: 0 auto;

  }
    
 input,
 textarea {
        width: 100%;
        padding: 1em;
        border: 1px solid #333;
        border-radius: 0.25rem;
        box-sizing: border-box;
        
     
  }
.button-contact{
      display: flex;
      padding: 1em;
      border-radius: 0.625rem;
      margin: 0 auto;
      cursor: pointer;
  }
/*=====================================SERVICES===================================================*/
.card {
    display: flex;
    height: 20rem;
    max-width: 60%;
    align-items: flex-end;
    border: 3px solid #b0215e;
    margin: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
} 
.card11 {
  background-color: aquamarine;
}
.left-menu {
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgb(177, 155, 83);
  padding: 2rem;
  font-size: larger;
  margin: .1rem;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
