/*+++++++++++++++++++++++++++++++++++++++++++IMPORTS++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Merriweather:wght@300&family=Rubik:wght@500&display=swap');

/*==============================================CONTENT====================================================*/
body {
  background-color: #F7CCAC;
  font-family: 'Merriweather', serif;
}

.main-body {
    background-image: url(../img/Optimized-main.jpg);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  button, .submit {
    cursor: pointer;
  }
  h1,h2,h3 {
    text-align: center;
    font-size: xx-large;
  }
  .header-h1 {
    font-size: 50px;
    color: rgb(71, 24, 24);
    text-align: center;
    padding-top: 20px;
  }
  /*=========================================Nav Bar========================================================*/

.sidenav {
  height: 100%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #3A3845; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  font-size: xx-large;
  font-family: 'Rubik', sans-serif;
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.btnClose {
  margin: 0 auto;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  
}
.openButton {
  position:fixed;
  right: 0;
  top: 0;
  background-color: rgb(177, 155, 83);
  border-radius: .5rem 0 0 .5rem;
  padding: 1rem;
  cursor: pointer;
  border: 2px solid rgb(27, 27, 26);
}
.btn-book {
  display: flex;
  background-color: rgb(177, 155, 83);
  border-radius: .5rem 0 0 .5rem;
  padding: 1rem;
  cursor: pointer;
  margin: 0 auto;
}
  /*-----------------------------------------Weather----------------------------------------------------*/
 
  .forecastist {
      display: flex;
      flex-wrap: wrap;
      margin: 25px auto;
      max-width: 35rem;
      border-right: 1px solid #333;

    }

    .forecastdays {
      flex: 1 0 auto;
      border-bottom: 2px solid #333;
      border-left: 2px solid #333;
      text-align: center;
      background-color: rgb(118, 165, 165);
      border-radius: 1rem;
      
}
.weekday, .today {
  font-size: 1.5rem;
  color: rgb(68, 68, 65);
  font-weight: bold;
  padding: .5rem;
}

  /*Alert*/
  div.weatheralert {
    background-color: rgb(146, 204, 79);
    color: rgb(75, 58, 58);
    text-align: center;
    padding: .5em;
  }
  
  .alertbtn {
    color: rgb(212, 201, 135);
    cursor: pointer;
  
  }
  
  /*------------------------------------------Temples---------------------------------------------------*/
  #temples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:1rem;
    gap: 2rem;
  }     
 
  #temples img {
      max-width: 18rem;
      box-shadow: 0px 0px 13px 10px rgba(0,0,0,0.25);
      border-radius: .5rem;
  }
  #temples section {
  box-shadow: 0px -3px 13px 0px rgba(0,0,0,0.75);
  padding: .3rem;
  text-align: center;
  background-color: #FBD786;
  border-radius: .5rem;
  font-size: larger;
  }
 
  /*==============================================Footer================================================*/
  .footer-main {
     display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-height:fit-content;
      background-color: rgb(99, 87, 73);
      padding: 2rem;
      font-family: 'Josefin Sans', sans-serif;
  }
  .footer-main h2 {
    color: rgb(177, 155, 83);
    font-size: xx-large;
  }
  
  .menu-icon {
      margin-left: 2rem;
      cursor: pointer;
  }
  ::placeholder{
    color: rgb(177, 155, 83);
    font-size: larger;
  }
  .footer-left {
    font-size: x-large;
    color: rgb(212, 169, 27); 
  }

  /*----------------------------------------------------Google Maps-----------------------------------------*/
  .google-maps {
    
    margin: 0 auto;
  }
  /*----------------------------------------------------Footer Form-----------------------------------------*/
  .form-footer{
    max-width:18rem;
    margin: .4rem;
    
  }
  
  .field{
    padding:0.031rem;
    border:none;
    outline:none;
    background:none;
    color:rgb(228, 219, 167);
    font-style:italic;
    border-bottom:2px solid rgb(231, 201, 137);

  }
  
  #message{
    height:6.25rem;
  }
  
  #submit{

    width:6.25rem;
    border:none;
    background-color:rgb(255, 144, 116);
    color:white;
    font-size:17px;
    cursor:pointer;
    border-radius: 1rem;
    font-size: larger;

  }
/*======================================TEMPLE PAGE==============================================*/
.temple-main {
    padding: 2rem;
}

#temple {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  
}
#temple section {
  background-color: #D5EDBA;
  border: 1px solid #333;
  padding: 1rem;
  text-align: center;
  box-shadow: .5rem .3rem .5rem .5rem rgba(0,0,0,0.25);
  border-radius: .9rem;
  font-size: x-large;
  
}

#temple section img{
  border-radius: .9rem;
  max-width:  15rem;
  box-shadow: .5rem .3rem .5rem .5rem rgba(0,0,0,0.25);
}
/*====================================RESERVATION PAGE===========================================*/


.reservation-form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  font-size: larger;
  background-color: #FBD786;
  padding: 2rem;  
  border-radius: .9rem;
  box-shadow: 3px 8px 5px 10px rgba(0,0,0,0.75);
 }
  .res-but {
    background-color: rgb(158, 147, 112);
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
    margin: 0 auto;
  }
  .fieldset-res {
    padding: 3rem;
    border-radius: 1rem;
  }
 input,
 textarea {
        width: 100%;
        padding: 1em;
        border: 1px solid #333;
        border-radius: 0.25rem;
        box-sizing: border-box;
        margin: 1rem;
  }
  legend {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
  }
.button-contact{
      display: flex;
      padding: 1em;
      border-radius: 0.625rem;
      margin: 0 auto;
      cursor: pointer;
  }
/*=====================================SERVICES===================================================*/
.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: .3fr .6fr;
  gap: 2rem;
  margin: 2rem;
  border:  4px solid #333;
  border-radius: .8rem;
  padding: 1rem;
  font-size: x-large;
  background-color: #FBD786;
  
}
.list-center{
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
}

.subpages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  border:  4px solid #333;
  border-radius: .8rem;
  padding: 2rem;
  font-size: x-large;
  background-color: #FBD786;
  text-align: center;
  
}
.subpages img {
  max-width: 15rem;
  border-radius: .5rem;
  box-shadow: 3px 8px 5px 0px rgba(0,0,0,0.75);
}
.subpages img:hover {
  padding: .1rem;
  box-shadow: 3px 8px 5px 0px rgba(169, 170, 114, 0.75);
}
/*======================================MISSIONARY==========================================*/
.rooms-m {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 2px solid #333;
  padding: 2rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 3px 10px 31px 11px rgba(0,0,0,0.75);
  background-color: #FBD786;
  font-size: x-large;
}
.rooms-m img {
  max-width: 25rem;
  border: 1px solid #333;
  border-radius: .8rem;
  box-shadow: 3px 2px 3px 4px rgba(24, 17, 17, 0.25);
}
.miss-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
  border:  4px solid #333;
  border-radius: .8rem;
  padding: 2rem;
  font-size: x-large;
  background-color: #FBD786;
  box-shadow: 3px 10px 31px 11px rgba(0,0,0,0.75);
  
}
.miss-form {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 35rem;
}
/*=====================================RECEPTION===========================================*/
.body-rec {
  background-image: url("../img/weeding.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-rec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, .6fr);
  margin: 2rem;
  border:  4px solid #333;
  border-radius: .8rem;

  font-size: x-large;
  background-color: #FBD786;
  box-shadow: 3px 10px 31px 11px rgba(0,0,0,0.75);
  
}
.section-rec img {
  border: 2px solid #333;
  border-radius: .8rem;
  box-shadow: 3px 10px 31px 11px rgba(0,0,0,0.75);
}
.accomodations {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;

}
.food-service, .setup {
  margin: 3rem;
}
/*========================================THANK YOU!===========================================*/
.main-ty {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
  border:  4px solid #333;
  border-radius: .8rem;
  padding: 2rem;
  font-size: x-large;
  background-color: #FBD786;
  box-shadow: 3px 10px 31px 11px rgba(0,0,0,0.75);
  text-align: center;
  
}
