@media only screen and (min-width: 32.5em) {
    .sidenav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    } 
    .openButton {
      display: block;
    }
    #temples {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin:1rem;
        gap: 2rem;
      }     

}