@media only screen and (max-width: 32.5rem) {
    .sidenav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    } 
    .openButton {
      display: block;
    }
    .flex {
      display: block;
    }
    #temples {
        grid-template-columns: 1fr 1fr;

      }     
      .footer-main {
        grid-template-columns: 1fr;
      }
   
    }

