@media only screen 
  and (min-device-width: 7.5rem) 
  and (max-device-width: 31rem)
 {
    .sidenav .closebtn {
      display: block;
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  } 
  .openButton {
    display: block;
}
#temples {
  display: grid;
  grid-template-columns: 1fr;
}
#temple {
  display: grid;
  grid-template-columns: 1fr;
}
.footer-main {
  display: grid;
  grid-template-columns: 1fr;
}
}

