
#content{
    max-width: 760px;
    margin: 0 auto;
    box-shadow: 2px 3px 3px 3px #666;
    border-radius: 15px;
}
body {
    color: #264653;
}
img {
    max-width: 50%;
    border-radius: 50%;
    border: solid 5px #FEDF00;
    box-shadow: 2px 3px 3px #666;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}
.header-box {
    background-color: #E9C46A;
    background-image: linear-gradient(to bottom right, #F5D300, #FE53BB, #09FBD3, #08F7FE);
    display: grid;
    grid-template-columns: 45% 55%;
    border-radius: 15px 15px 0 0;
    padding: 15px;
}  
h1 {
    font-family: 'Satisfy', cursive;
    grid-column: 2;
    align-self: center;
    font-size: 3em;
}
h2 {
    font-family: 'Luxurious Roman', cursive;
}
main {
    text-align: center;
}
ul, p {
    font-family: 'Lato', sans-serif;
    list-style: none;
}
ul {
    font-size: 1.25em;
}
footer {
    background-color: #E9C46A;
    background-image: linear-gradient(to bottom right, #FE53BB, #09FBD3, #7fff00);
    border-radius: 0 0 15px 15px;
    padding: 5px;
    text-align: center; 
}
.update-text {
    color: #2A9D8F;
    font-weight: bold;
    padding-bottom: 20px;
}
@media only screen and (min-width: 400px) and (max-width: 720px) {
    .header-box {
        display: block;
        text-align: center;
    }
}