/* Css for smaller screen devices */


* {
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
p, li, div {
    font-family: 'Montserrat';
}
#home-page p {
    font-weight: bold;
}


/* ------- Navigation ------- */
nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white
}
nav {
    background-color: #14213D;
    text-align: center;
    padding: .2rem;
}
#menu-btn {
    font-size: 20px;
    align-items: center;
    padding-right: 10px;
}
nav ul {
    list-style-type: none;
    text-decoration: none;
}
nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: .8rem 2vw;
    border-top: 1px solid rgba(0,0,0,.3);
    font-size: large;
}
nav ul li a:hover {
    background-color: #FCA311;
    color: #000000;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#now {
    text-align: center;
    padding: 1.5rem;
    font-size: large;
}

/* ------- Header -------- */

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}
.header-content h1 {
    font-family: 'Noto Serif';
}

/* ------- Main ------- */

main#home-page {
    margin: .5rem;
    padding: .1rem;
}
main > div {
    margin-top: 2rem;
}
.news-events, .weather, .join, .spotlight1, .spotlight2 {
    text-align: center;
}
.herodiv {
    margin: 10px auto;
    position: relative;
}
main div section {
    position: absolute;
    top: 10%;
	left: 13%;
    color: rgba(92, 7, 7, 0.788);
    padding: 1.5rem;
}
main div button {
    padding: .5rem;
    margin-top: 1rem;
    font-weight: bolder;
    background-color: #FCA311;
    border: none;
    box-shadow: 0 0 10px #E5E5E5;
    border-radius: 2px;
}
.weather, .spotlightdiv {
    background-color: #E5E5E5; 
    padding: 2rem;
}
main div.weather h2, main div.spotlightdiv h2, h3, main div.news-events p, main div.join p,
.discover article h2, .discover article p {
    padding: 1rem;
}
.join, .news-events {
    padding: 3rem;
    box-shadow: 0 0 10px #888;
}
.spotlight {
    margin: 2rem;
    box-shadow: 0 0 10px #888;
} 
.join button {
    display: block;
    width: 100%;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 1.5rem;
}
.join button:hover {
    background-color: #14213D;
    color: white;
}
.news-events h2 {
    background-color: #14213D;
    color: white;
    padding: 10px;
}
.herodiv section h2 {
    background-color: rgba(255,255,255,.5);
}
.hero-img source{
    vertical-align: middle;
}


/* ------- Footer ------- */


.footer-content {
    display: block;
    background-color: #14213D;
    color: white;
    padding: 10px;
    padding-top: 0;
}
.footer-content div {
    font-size: 13px;
    text-align: center;
    align-self: center;
}
.base-footer {
    text-align: center;
    padding: 1.5rem 2vw;
    margin: 2rem;
}
.base-footer p {
    padding: 5px;
    color: #666;
}

/*----Top-page banner----*/
#top-page-banner {
    text-align: center;
    padding: 10px;
    background-color: #FCA311;
}
.bannerBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5%;
    font-weight: bolder;
    font-size: x-large;
}

/* -----Clearfix-------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* -----Lazy Load Effect-------- */
main.discover picture img[data-src] {
    opacity: 0;
    visibility: hidden;
}
main.discover picture img{
    -webkit-transition: 1s linear;
    transition: 1s linear;
}
/* -----Discover Page Section-------- */
.discover-heading {
    background-color: #EEEE;
    text-align: center;
    padding: 1.5rem;
}
.greeting {
    padding-bottom: 1rem;
}

/* ----Discover Media Card------ */
.media-card {
    width: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 5px 2px #888;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.discover-article {
    padding: 2rem;
    text-align: center;
}
.discover-article p {
    padding-top: 1rem;
}
.media-btn:hover {
    background-color: gray;
}

/* -------Join Page-------- */
#join-form {
    padding: 1rem;
}
#join-form h2 {
    text-align: center;
    font-family: 'Noto Serif';
    padding: 1rem;
}
label.top {
    display: block;
    padding-top: 1rem;
    font-family: 'Montserrat';
    color: #14213D;
    font-weight: bolder;
}
form label.sbs {
    display: block;
    font-size: 1.5rem;
    padding: .75rem 0;
    color: #FCA311;
    font-weight: bolder;
}
legend {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    text-align: center;
    font-weight: bolder;
    padding: 0 1rem;
}
form fieldset {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 15px;
    border: #999 1px solid;
}
form label.top input, textarea {
    display: block;
    width: 100%;
    max-width: 20rem;
    padding: .50rem 0;
    border: 1px solid #888;
    border-radius: 3px;
}
form input.submitBtn {
    width: 90%;
    max-width: 15rem;
    padding: 1rem;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: red;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: 5%;
}
form input.submitBtn:hover {
    background-color: #FCA311;
}
/* -------Validation------- */
form label.top input:required {
    border-color: red;
}
form label.top input:required:valid {
    border-color: #888;
}
/*------Thank you page------*/
#thankyou {
    text-align: center;
}
#thankyou h2{
    font-family: 'Montserrat';
    padding: 2rem;
}
#thankyou p {
    padding: 0 2rem 4rem 2rem;
}
