
/*-----For screens with 1020 px and above----------*/
@media only screen and (min-width: 1020px) {

    /* -------Navigation--------*/
    nav button {
        display: none;
    }
    nav ul#primaryNav {
        display: flex;
    }
    nav ul li{
        align-self: center;
        flex: 1 1 auto;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(211,211,211,.3);
        text-align: center;
        padding: 1rem 2vw;
    }
    nav ul li a:hover {
        padding: 1rem 2vw;
    }
   
    nav ul li.social-media-1 a, nav ul li.social-media-2 a{
        border: none;
        padding: 0;
    }

     /* -------Main--------*/
    main > div {
        margin-top: 10px;
    }
    main div section button {
        font-size: 2rem;
        padding: 1rem;
    }
    #home-page {
        width: 95%;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto;
        grid-gap: 10px;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    .herodiv {
        grid-column: 2;
    }
    .news-events {
        grid-column: 1;
        grid-row: 1;
        box-shadow: none;
        background-color: #E5E5E5;
    }
    .weather {
        grid-column: 3;
    }
    .spotlight1 {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        margin: 1rem;
    }
    .spotlight2 {
        grid-column: 3;
        align-self: center;
    }
    .join {
        grid-column: 2;
    }
    .herodiv section {
        position: absolute;
        top: 25%;
        left: 25%;
    }

    /* -------Footer--------*/
    .base-footer {
        display: flex;
        justify-content: center;
    }
    .base-footer p {
        border-right: 1px solid #666;
        border-left: 1px solid #666;
    }

    /*----Discovery Page-------*/
    #discover {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .media-card {
        width: 100%;
        transition: ease-in-out 0.3s;;
        transform: scale(0.9);
    }
    .media-card:hover {
        transform: scale(1.02);
    }

    /*-----Join Page------*/
    form  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }
   form input.submitBtn {
       grid-column: 2;
   }
   
}