
/*-----For mediu size screens like tablet or IPad-------*/
@media only screen and (min-width: 768px) {

    /*-----Footer------*/
    .footer-content {
        display: flex;
    }
    .footer-content div {
        margin: 2rem;
        flex: 1 1 auto;
    }
    .footer-content img {
        max-width: 75%;
    }
    
    /*-----Main------*/
    .herodiv section {
        position: absolute;
        top: 25%;
        left: 15%;
    }
    main div section h2 {
        font-size: 3rem;
    }
    .spotlightdiv {
        display: flex;
    }
    .spotlight {
        align-self: center;
        flex: 1 1 auto;
    }
    .join button {
        display: block;
        width: 50%;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        padding: 1.5rem;
    }
    /*----Discovery Page-----*/
    .media-card {
        width: 75%;
        transition: ease-in-out 0.3s;;
        transform: scale(0.9);
        text-align: center;
    }
    .media-card:hover {
        transform: scale(1.02);
    }

    /*------Join Page--------*/
    form input.submitBtn {
        margin-left: 2%;
    }
    /*------Thank you page-------*/
    #thankyou {
        height: 50vh;
        padding-top: 5%;
    }
}