@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: "Acme", Arial, sans-serif;
}

h1 {
	font-size: 1.5rem;
}
button{
	cursor: pointer;
}
main {
	margin: 0.5rem auto;
	border: 1px solid #999;
	padding: 0.5rem;
	background-color: #9da08e;
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input,
button {
	padding: 0.15rem;
	margin-left: 1rem;
	font-size: 1.1rem;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
	width: 45%;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

label {
	font-size: 1rem;
}
.listcontainer {
	border: 1px solid #bbb;
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list {
	margin: 0.2rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}


footer {
    background-color: #9da08e;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin: 0 auto;
    padding: .5rem;
	font-size: .7em;
	font-family: 'Montserrat';
	width: 35%;
	border-radius: 10px;
}

#updated {
    color: var(--ltblue);
    font-size: .8em; 
    margin:.5em;	@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: "Acme", Arial, sans-serif;
}

h1 {
	font-size: 1.5rem;
}
button{
	cursor: pointer;
}
main {
	margin: 0.5rem auto;
	border: 1px solid #999;
	padding: 0.5rem;
	background-color: #9da08e;
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input,
button {
	padding: 0.15rem;
	margin-left: 1rem;
	font-size: 1.1rem;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
	width: 45%;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

label {
	font-size: 1rem;
}
.listcontainer {
	border: 1px solid #bbb;
	margin: 1rem;
	padding: 1rem;
	border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list {
	margin: 0.2rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}


footer {
    background-color: #9da08e;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    margin: 0 auto;
    padding: .5rem;
	font-size: .7em;
	font-family: 'Montserrat';
	width: 35%;
	border-radius: 10px;
}

#updated {
    color: var(--ltblue);
    font-size: .8em; 
    margin:.5em;	
}
}