

.html {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.container{
	grid-area: 1 / 1 / 4 / 2;
}
h1,h2,h3{
	text-align:  center;
}
nav {
  padding: 1em;
  font-family: font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

nav ul {
  
  margin: 0;
  background: #333;
   list-style: none;

}

nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}

nav li a:hover {
  background: tomato;
  color: white;
}


.navbar {
	 display: flex;
	 justify-content: space-evenly;
	 align-items: center;
	 background: lightblue;
	 height: 2.5rem;
	 font-size: 16px;
}
.back-button{
	border: 2px solid #020122;
}
.old-man-img{
		width: 12.5rem;
		display: block;
  margin-left: auto;
  margin-right: auto;
	}
.young-wmn-img{
		width: 12.5rem;
		display: block;
  margin-left: auto;
  margin-right: auto;
	}
.title-target{
	grid-area: 1 / 1 / 2 / 4;
}
.first-text{
	margin: 1rem;
}
.list-text{
	margin: 0.5rem;
}

 html{
 	height: 100%;
 }
footer{
	grid-area: 4 / 1 / 5 / 4;
	text-align: center;
	border: 1px solid #ccc;
	background-color: #EEEBD3;

}
