
h1{
	text-align:  center;
}

	.navbar {
	  display: flex;
	  justify-content: space-evenly;
	  align-items: center;
	  background: lightblue;
	  height: 2.5rem;
	  font-size: 16px;

	}
	.back-button{
		border: 2px solid #020122;
	}

	/*Color Scheme*/
	.color-title{
		text-align: center;
	}
	.colors{
		display: flex;
		justify-content: space-evenly;
	}
	.name-color{
		border-left: 4px solid #ccc;
		border-bottom: 4px solid #ccc;
		border-top: 4px solid #ccc;
	}
	.color1{
		background: #F2F3AE;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color2{
		background: #EDD382;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color3{
		background: #FC9E4F;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color4{
		background: #FF521B;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color5{
		background: #020122;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}

	/*Target Audience*/
	/*Typography*/
	.typ-dongle{
		font-family: 'Dongle', sans-serif;
		font-size:  20px;
	}
	.typ-zen{
		font-family: 'Zen Antique', serif;
		font-size:  20px;
	}
	.typ-luxu{
		font-family: 'Luxurious Roman', cursive;
		font-size:  20px;
	}
 html{
 	height: 100%;
 }
	body{
		width: 80%;
		margin: 0 auto;
		margin-top: 1rem;
		margin-bottom: 1rem;
		display: flex;
 		flex-direction: column;
 		height: 100%;
	}
	footer{
		  flex-shrink: 0;
		  width: 80%;
	    text-align: center;
	    border: 1px solid #ccc;
	    background-color: #EEEBD3;
	    position: absolute;
	    bottom: 0;
	    margin-top: 5%;
	}

	@media screen and (max-width: 400px) {
		h1{
			text-align:  center;
		}
		
			.navbar {
			  display: flex;
			  justify-content: space-evenly;
			  align-items: center;
			  background: lightblue;
			  height: 2.5rem;
			  font-size: 16px;
		
			}
			.back-button{
				border: 2px solid #020122;
			}
		
			/*Color Scheme*/
			.color-title{
				text-align: center;
			}
			.colors{
				display: flex;
				justify-content: space-evenly;
			}
			.name-color{
				border-left: 4px solid #ccc;
				border-bottom: 4px solid #ccc;
				border-top: 4px solid #ccc;
			}
			.color1{
				background: #F2F3AE;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color2{
				background: #EDD382;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color3{
				background: #FC9E4F;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color4{
				background: #FF521B;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color5{
				background: #020122;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
		
			/*Target Audience*/
			/*Typography*/
			.typ-dongle{
				font-family: 'Dongle', sans-serif;
				font-size:  20px;
			}
			.typ-zen{
				font-family: 'Zen Antique', serif;
				font-size:  20px;
			}
			.typ-luxu{
				font-family: 'Luxurious Roman', cursive;
				font-size:  20px;
			}
		 html{
			 height: 100%;
		 }
			body{
				width: 80%;
				margin: 0 auto;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: flex;
				 flex-direction: column;
				 height: 100%;
			}
			footer{
				  flex-shrink: 0;
				  width: 80%;
				text-align: center;
				border: 1px solid #ccc;
				background-color: #EEEBD3;
				position: absolute;
				bottom: 0;
				margin-top: 5%;
			}
		
	}
	
	@media screen and (min-width: 401px) and (max-width: 720px) {
		h1{
			text-align:  center;
		}
		
			.navbar {
			  display: flex;
			  justify-content: space-evenly;
			  align-items: center;
			  background: lightblue;
			  height: 2.5rem;
			  font-size: 16px;
		
			}
			.back-button{
				border: 2px solid #020122;
			}
		
			/*Color Scheme*/
			.color-title{
				text-align: center;
			}
			.colors{
				display: flex;
				justify-content: space-evenly;
			}
			.name-color{
				border-left: 4px solid #ccc;
				border-bottom: 4px solid #ccc;
				border-top: 4px solid #ccc;
			}
			.color1{
				background: #F2F3AE;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color2{
				background: #EDD382;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color3{
				background: #FC9E4F;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color4{
				background: #FF521B;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color5{
				background: #020122;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
		
			/*Target Audience*/
			/*Typography*/
			.typ-dongle{
				font-family: 'Dongle', sans-serif;
				font-size:  20px;
			}
			.typ-zen{
				font-family: 'Zen Antique', serif;
				font-size:  20px;
			}
			.typ-luxu{
				font-family: 'Luxurious Roman', cursive;
				font-size:  20px;
			}
		 html{
			 height: 100%;
		 }
			body{
				width: 80%;
				margin: 0 auto;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: flex;
				 flex-direction: column;
				 height: 100%;
			}
			footer{
				  flex-shrink: 0;
				  width: 80%;
				text-align: center;
				border: 1px solid #ccc;
				background-color: #EEEBD3;
				position: absolute;
				bottom: 0;
				margin-top: 5%;
			}
		
	}
	
	@media screen and (min-width: 721px) and (max-width: 1280px) {
		h1{
			text-align:  center;
		}
		
			.navbar {
			  display: flex;
			  justify-content: space-evenly;
			  align-items: center;
			  background: lightblue;
			  height: 2.5rem;
			  font-size: 16px;
		
			}
			.back-button{
				border: 2px solid #020122;
			}
		
			/*Color Scheme*/
			.color-title{
				text-align: center;
			}
			.colors{
				display: flex;
				justify-content: space-evenly;
			}
			.name-color{
				border-left: 4px solid #ccc;
				border-bottom: 4px solid #ccc;
				border-top: 4px solid #ccc;
			}
			.color1{
				background: #F2F3AE;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color2{
				background: #EDD382;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color3{
				background: #FC9E4F;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color4{
				background: #FF521B;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color5{
				background: #020122;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
		
			/*Target Audience*/
			/*Typography*/
			.typ-dongle{
				font-family: 'Dongle', sans-serif;
				font-size:  20px;
			}
			.typ-zen{
				font-family: 'Zen Antique', serif;
				font-size:  20px;
			}
			.typ-luxu{
				font-family: 'Luxurious Roman', cursive;
				font-size:  20px;
			}
		 html{
			 height: 100%;
		 }
			body{
				width: 80%;
				margin: 0 auto;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: flex;
				 flex-direction: column;
				 height: 100%;
			}
			footer{
				  flex-shrink: 0;
				  width: 80%;
				text-align: center;
				border: 1px solid #ccc;
				background-color: #EEEBD3;
				position: absolute;
				bottom: 0;
				margin-top: 5%;
			}
		
	}
	
	@media screen and (min-width: 1281px) and (max-width: 1440px) {
		h1{
			text-align:  center;
		}
		
			.navbar {
			  display: flex;
			  justify-content: space-evenly;
			  align-items: center;
			  background: lightblue;
			  height: 2.5rem;
			  font-size: 16px;
		
			}
			.back-button{
				border: 2px solid #020122;
			}
		
			/*Color Scheme*/
			.color-title{
				text-align: center;
			}
			.colors{
				display: flex;
				justify-content: space-evenly;
			}
			.name-color{
				border-left: 4px solid #ccc;
				border-bottom: 4px solid #ccc;
				border-top: 4px solid #ccc;
			}
			.color1{
				background: #F2F3AE;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color2{
				background: #EDD382;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color3{
				background: #FC9E4F;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color4{
				background: #FF521B;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color5{
				background: #020122;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
		
			/*Target Audience*/
			/*Typography*/
			.typ-dongle{
				font-family: 'Dongle', sans-serif;
				font-size:  20px;
			}
			.typ-zen{
				font-family: 'Zen Antique', serif;
				font-size:  20px;
			}
			.typ-luxu{
				font-family: 'Luxurious Roman', cursive;
				font-size:  20px;
			}
		 html{
			 height: 100%;
		 }
			body{
				width: 80%;
				margin: 0 auto;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: flex;
				 flex-direction: column;
				 height: 100%;
			}
			footer{
				  flex-shrink: 0;
				  width: 80%;
				text-align: center;
				border: 1px solid #ccc;
				background-color: #EEEBD3;
				position: absolute;
				bottom: 0;
				margin-top: 5%;
			}
		
	}
	
	@media screen and (min-width: 1441px) and (max-width: 1920px) {
		h1{
			text-align:  center;
		}
		
			.navbar {
			  display: flex;
			  justify-content: space-evenly;
			  align-items: center;
			  background: lightblue;
			  height: 2.5rem;
			  font-size: 16px;
		
			}
			.back-button{
				border: 2px solid #020122;
			}
		
			/*Color Scheme*/
			.color-title{
				text-align: center;
			}
			.colors{
				display: flex;
				justify-content: space-evenly;
			}
			.name-color{
				border-left: 4px solid #ccc;
				border-bottom: 4px solid #ccc;
				border-top: 4px solid #ccc;
			}
			.color1{
				background: #F2F3AE;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color2{
				background: #EDD382;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color3{
				background: #FC9E4F;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color4{
				background: #FF521B;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color5{
				background: #020122;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
		
			/*Target Audience*/
			/*Typography*/
			.typ-dongle{
				font-family: 'Dongle', sans-serif;
				font-size:  20px;
			}
			.typ-zen{
				font-family: 'Zen Antique', serif;
				font-size:  20px;
			}
			.typ-luxu{
				font-family: 'Luxurious Roman', cursive;
				font-size:  20px;
			}
		 html{
			 height: 100%;
		 }
			body{
				width: 80%;
				margin: 0 auto;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: flex;
				 flex-direction: column;
				 height: 100%;
			}
			footer{
				  flex-shrink: 0;
				  width: 80%;
				text-align: center;
				border: 1px solid #ccc;
				background-color: #EEEBD3;
				position: absolute;
				bottom: 0;
				margin-top: 5%;
			}
		
	}
	
	@media screen and (min-width: 1921px) {
		h1{
			text-align:  center;
		}
		
			.navbar {
			  display: flex;
			  justify-content: space-evenly;
			  align-items: center;
			  background: lightblue;
			  height: 2.5rem;
			  font-size: 16px;
		
			}
			.back-button{
				border: 2px solid #020122;
			}
		
			/*Color Scheme*/
			.color-title{
				text-align: center;
			}
			.colors{
				display: flex;
				justify-content: space-evenly;
			}
			.name-color{
				border-left: 4px solid #ccc;
				border-bottom: 4px solid #ccc;
				border-top: 4px solid #ccc;
			}
			.color1{
				background: #F2F3AE;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color2{
				background: #EDD382;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color3{
				background: #FC9E4F;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color4{
				background: #FF521B;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
			.color5{
				background: #020122;
				width: 20px;
				height: 20px;
				border: 1px dotted #ccc;
			}
		
			/*Target Audience*/
			/*Typography*/
			.typ-dongle{
				font-family: 'Dongle', sans-serif;
				font-size:  20px;
			}
			.typ-zen{
				font-family: 'Zen Antique', serif;
				font-size:  20px;
			}
			.typ-luxu{
				font-family: 'Luxurious Roman', cursive;
				font-size:  20px;
			}
		 html{
			 height: 100%;
		 }
			body{
				width: 80%;
				margin: 0 auto;
				margin-top: 1rem;
				margin-bottom: 1rem;
				display: flex;
				 flex-direction: column;
				 height: 100%;
			}
			footer{
				  flex-shrink: 0;
				  width: 80%;
				text-align: center;
				border: 1px solid #ccc;
				background-color: #EEEBD3;
				position: absolute;
				bottom: 0;
				margin-top: 5%;
			}
		
	}