
h1{
	text-align:  center;
}
nav {
  padding: 1em;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

nav ul {
  
  margin: 0;
  background: #333;
  list-style: none;
}

nav li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
}

nav li a:hover {
  background: tomato;
  color: white;
}

.container{
	padding: 1.5rem;
}

	/*Color Scheme*/
	.color-title{
		text-align: center;
	}
	.colors{
		display: flex;
		justify-content: space-evenly;
	}
	.name-color{
		border-left: 4px solid #ccc;
		border-bottom: 4px solid #ccc;
		border-top: 4px solid #ccc;
	}
	.color1{
		background: #F2F3AE;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color2{
		background: #EDD382;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color3{
		background: #FC9E4F;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color4{
		background: #FF521B;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}
	.color5{
		background: #020122;
		width: 20px;
		height: 20px;
		border: 1px dotted #ccc;
	}

	/*Target Audience*/
	.old-man-img{
		width: 9.5rem;
	}
	.young-wmn-img{
		width: 9.5rem;
	}
	/*Typography*/
	.typ-dongle{
		font-family: 'Dongle', sans-serif;
		font-size:  20px;
	}
	.typ-zen{
		font-family: 'Zen Antique', serif;
		font-size:  20px;
	}
	.typ-luxu{
		font-family: 'Luxurious Roman', cursive;
		font-size:  20px;
	}


	body{
	

	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
 	flex-direction: column;
 	height: 100%;
	max-width:800px;
}
	footer{
	    text-align: center;
	    border: 1px solid #ccc;
	    background-color: #EEEBD3;
	    padding: 1.5rem;
	}

	
