.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: lightblue;
  height: 5.5rem;
  font-size: 24px;

}
footer{
	margin-top: 2.7rem;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #EEEBD3;
}
